.form-group.col-sm-2{:style=>"margin-top:32px; width:75px;"}
  %span.label.label-info{:style=>"font-size:14px;"}
    = "靶材 #{n}"
- this_col = @col2["elem1_#{n}"] rescue nil
.form-group.col-sm-2{:style=>"margin-left:10px;"}
  %label{:for=>"c2-elem-name"} 名称
  %input.form-control#c2-elem-name{:placeholder=>"靶材#{n}名称",:name=>"val[elem1_#{n}][name]",:value=>"#{this_col["name"]rescue nil}"}
.form-group.col-sm-2
  %label{:for=>"c2-elem-v"} 电压
  .input-group
    %input.form-control#c2-elem-v{:name=>"val[elem1_#{n}][v]",:value=>"#{this_col["v"] rescue nil}"}
    .input-group-addon V
.form-group.col-sm-2
  %label{:for=>"c2-elem-a"} 电流
  .input-group
    %input.form-control.col-sm-1#c2-elem-a{:name=>"val[elem1_#{n}][a]",:value=>"#{this_col["a"] rescue nil}"}
    .input-group-addon A
.form-group.col-sm-2
  %label{:for=>"c2-elem-w"} 功率
  .input-group
    %input.form-control.col-sm-1#c2-elem-w{:name=>"val[elem1_#{n}][w]",:value=>"#{this_col["w"] rescue nil}"}
    .input-group-addon W
- if current_page? "/items/#{@item.id}/edit"
  .form-group{:style=>"margin-top:25px"}
    %input.form-control.btn.btn-primary{:type=>"submit",:value=>"保存"}