%div{id: "canvas-oes-whole-#{n}"}
:javascript
  $(function () {
    $('#canvas-oes-whole-#{n}').hide()
    $.getJSON('/read_graph/#{@item.id}/c4_whole_#{n}', function (json_data) {
      if(json_data.length){
        $('#canvas-oes-whole-#{n}').show()
        $('#canvas-oes-whole-#{n}').highcharts({
          chart: {
                type: 'line'
          },
          title: {
              text: '全谱'
          },
          xAxis: {
              // dateTimeLabelFormats: { // don't display the dummy year
              //    month: '%e. %b',
              //    year: '%b'
              //},
              title: {
                  text: 'Wavelength, nm'
              }
          },
          yAxis: {
            title:{
              text: 'OES Intensity'
            }
          },
          tooltip: {
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x: .2f}, {point.y}'
          },
          series: [{
              name: '元素 #{n}',          
              data: json_data
          }]
        });
      }
    });
  });

