/基本信息
%form.form-inline{action: "/update_item/#{@item.id}/1", method: 'post'}
  = render "items/col1"

.page-header 
  %h4 溅射实验基本参数
- (1..2).each do |n|
  %form.form-inline{action: "/update_item/#{@item.id}/2/?elem=1&n=#{n}", method: 'post',:style=>"margin-bottom:10px;"}
    = render partial: "items/col2_1", locals: {n: n}
%form.form-inline{action: "/update_item/#{@item.id}/2?elem=2", method: 'post',:style=>"margin-bottom:10px;"}
  = render "items/col2_2"
%form.form-inline{action: "/update_item/#{@item.id}/2?elem=3", method: 'post',:style=>"margin-bottom:10px;"}
  = render "items/col2_3"

.page-header 
  %h4 朗缪尔探针参数
%form.form-inline{action: "/update_item/#{@item.id}/3?elem=1", method: 'post',:style=>"margin-bottom:10px;"}
  = render "items/col3_1"
%form.form-inline{action: "/update_item/#{@item.id}/3?elem=2", method: 'post'}
  = render "items/col3_2"

.page-header
  %h4 等离子体发射诊断 ( OES )
- (1..2).each do |n|
  = render partial: "items/col4", locals: {n: n}
.row
  .col-lg-6
    = render "items/oes_fine"
  .col-lg-6
    = render "items/oes_whole"

.page-header 
  %h4 离子能量分布诊断 ( FLD )
= render "items/col5"
= render "items/fld_canvas"