.page-header
  %h3 数据库

%table.table.table-striped.table-hover#tb-overview
  %thead
    %tr
      %th{:colspan=>3,:style=>"font-size:20px;"} 
        %span.label.label-info 实验名称
      %th{:colspan=>7,:style=>"font-size:20px;"} 
        %span.label.label-success 基本参数设定
      %th{:colspan=>7,:style=>"font-size:20px;"} 
        %span.label{:style=>"background-color:dodgerblue"} 等离子体参数
      %th{:colspan=>1,:style=>"font-size:20px;"} 

      / %th{:colspan=>5,:style=>"font-size:20px;min-width:180px"} 
      /   %span.label.label-danger 朗缪尔探针诊断
      / %th{:colspan=>8,:style=>"font-size:20px;"} 
      /   %span.label.label-warning OES 诊断
      / %th{:colspan=>2,:style=>"font-size:20px;"} 
      /   %span.label{:style=>"background-color:dodgerblue"} 法拉第杯诊断
    %tr
      / c1
      %th{:colspan=>1,:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(91, 192, 222, 0.5)"} 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="n_asc" ? "n_desc" : "n_asc"}", :class=>"#{"dropup" if params['o']=="n_asc"}"}
          序号
          - if params['o'].include?("n_")
            %span.caret
      %th{:colspan=>1,:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(91, 192, 222, 0.5)"} 薄膜名称
      %th{:colspan=>1,:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(91, 192, 222, 0.5);border-right: 1px solid #dddddd;"} 主要元素
      / c2
      %th.success{:colspan=>3,:style=>"border-right: 1px solid #dddddd;"} 靶材1
      / %th.success{:colspan=>4,:style=>"border-right: 1px solid #dddddd;"} 靶材2
      %th.success{:colspan=>2,:style=>"border-right: 1px solid #dddddd;"} 气体流量
      %th.success{:colspan=>2,:style=>"border-right: 1px solid #dddddd;"} 其余参数

      / c3
      %th.danger{:colspan=>3,:style=>"min-width:80px; border-right: 1px solid #dddddd;"} 朗缪尔探针参数
      / %th.danger{:colspan=>3,:style=>"min-width:100px"} 电子特征参数
      / c4
      %th.warning{:colspan=>2,:style=>"border-right: 1px solid #dddddd;"} 等离子体发射诊断
      / c5 
      %th.warning{:colspan=>2,:style=>"border-right: 1px solid #dddddd; background-color:rgba(30, 144, 255, 0.5)"} 离子能量分布诊断

      %th{:colspan=>1,:rowspan=>2, :style=>"vertical-align:middle;"} 操作
    %tr
      / c2
      %th.success 名称
      %th.success 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="v_asc" ? "v_desc" : "v_asc"}", :class=>"#{"dropup" if params['o']=="v_asc"}"}
          电压
          - if params['o'].include?("v_")
            %span.caret
        (V)
      %th.success{:style=>"border-right: 1px solid #dddddd;"} 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="a_asc" ? "a_desc" : "a_asc"}", :class=>"#{"dropup" if params['o']=="a_asc"}"}
          电流
          - if params['o'].include?("a_")
            %span.caret
        (A)
      %th.success 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="ar_asc" ? "ar_desc" : "ar_asc"}", :class=>"#{"dropup" if params['o']=="ar_asc"}"}
          氩气 
          - if params['o'].include?("ar_")
            %span.caret
        (sccm)
      %th.success{:style=>"border-right: 1px solid #dddddd;"}
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="ngas_asc" ? "ngas_desc" : "ngas_asc"}", :class=>"#{"dropup" if params['o']=="ngas_asc"}"}
          氮气 
          - if params['o'].include?("ngas_")
            %span.caret
        (sccm)

      %th.success 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="pianya_asc" ? "pianya_desc" : "pianya_asc"}", :class=>"#{"dropup" if params['o']=="pianya_asc"}"}
          基底偏压 
          - if params['o'].include?("pianya_")
            %span.caret
        (V)
      %th.success{:style=>"border-right: 1px solid #dddddd;"} 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="qiya_asc" ? "qiya_desc" : "qiya_asc"}", :class=>"#{"dropup" if params['o']=="qiya_asc"}"}
          工作气压 
          - if params['o'].include?("qiya_")
            %span.caret
        (Pa)

      / c3
      / %th.danger 靶基距
      / %th.danger 表面积A

      %th.danger
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="baohe_asc" ? "baohe_desc" : "baohe_asc"}", :class=>"#{"dropup" if params['o']=="baohe_asc"}"}
          饱和电子电流 
          - if params['o'].include?("baohe_")
            %span.caret
        (A)
      %th.danger 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="midu_asc" ? "midu_desc" : "midu_asc"}", :class=>"#{"dropup" if params['o']=="midu_asc"}"}
          电子密度 
          - if params['o'].include?("midu_")
            %span.caret
        (cm^-3)
      %th.danger{:style=>"border-right: 1px solid #dddddd;"} 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="wendu_asc" ? "wendu_desc" : "wendu_asc"}", :class=>"#{"dropup" if params['o']=="wendu_asc"}"}
          电子温度 
          - if params['o'].include?("wendu_")
            %span.caret
        (eV)

      / c4
      %th.warning 元素名称
      %th.warning{:style=>"border-right: 1px solid #dddddd;"} 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="lihua_asc" ? "lihua_desc" : "lihua_asc"}", :class=>"#{"dropup" if params['o']=="lihua_asc"}"}
          离化程度 
          - if params['o'].include?("lihua_")
            %span.caret
        *100%

      / c5
      %th{:colspan=>1,:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(30, 144, 255, 0.5)"} 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="lizia_asc" ? "lizia_desc" : "lizia_asc"}", :class=>"#{"dropup" if params['o']=="lizia_asc"}"}
          离子平均电流 
          - if params['o'].include?("lizia_")
            %span.caret
        (A/cm^-3)
      %th{:colspan=>1,:rowspan=>2,:style=>"vertical-align: middle;background-color:rgba(30, 144, 255, 0.5);border-right: 1px solid #dddddd;"} 
        %a{:href => "/items?o=#{params['o']=="" or params['o']=="lizie_asc" ? "lizie_desc" : "lizie_asc"}", :class=>"#{"dropup" if params['o']=="lizie_asc"}"}
          离子平均能量 
          - if params['o'].include?("lizie_")
            %span.caret
        (eV)


  %tbody
    - @hipims_data.each_with_index do |row,index|
      %tr{:style=>"#{'border-bottom: 1px solid #dddddd;' if index==@hipims_data.length-1}"}
        - row[:c1].each_with_index do |item,index|
          %th{:style=>"#{'border-right: 1px solid #dddddd;' if index==2}"}
            -if index==0
              = row[:name]
            - else
              = !item.nil? ? "#{item}" : "-"
        - row[:c2].each_with_index do |item,index|
          - if index==2 or index== 4 or index==6
            %th{:style=>"border-right: 1px solid #dddddd;"}
              = !item.nil? ? "#{item}" : "-"
          - else
            %th
              = !item.nil? ? "#{item}" : "-"
        - row[:c3].each_with_index do |item,index|
          - if index==2 or index== 4 or index==6
            %th{:style=>"border-right: 1px solid #dddddd;"}
              = !item.nil? ? "#{item}" : "-"
          - else
            %th
              = !item.nil? ? "#{item}" : "-"
        %th
          / %a.btn.btn-sm.btn-primary{:href=>"#",:style=>"margin-bottom:5px;"}
          /   %span.glyphicon.glyphicon-stats
          /   谱线
          %a.btn.btn-sm.btn-info{:href=>"items/#{row[:id]}",:style=>"margin-bottom:5px;"} 
            %span.glyphicon.glyphicon-search
            详细
        / - row[:c3].each do |item|
        /   %th 
        /     = !item.nil? ? "#{item}" : "-"
        / - row[:c4].each do |item|
        /   %th 
        /     = !item.nil? ? "#{item}" : "-"
        / - row[:c5].each do |item|
        /   %th 
        /     = !item.nil? ? "#{item}" : "-"

.row
  .col-lg-12
    .pull-right
      %a.btn.btn-success{:href=>"/items/new"}
        %span.glyphicon.glyphicon-plus
        新增一条数据
