<!DOCTYPE html>
<html>
<head>
  <title>等离子体特征数据库管理系统</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">等离子体特征数据库管理系统</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav" style="font-size:14px; margin-left:20px;">
            <li class = "<%= 'active' if current_page?(root_path) %>"><%= link_to "主页", root_path %></li>
            <li class = "<%= 'active' if current_page?(items_path) %>"><%= link_to "数据一览", items_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </div>
  <div class="container" style="margin-top:50px;">
    <%= yield %>
  </div>

</body>
</html>
