<!DOCTYPE html>
<html>
<head>
  <title>等离子体特征数据库管理系统</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">等离子体特征数据管理系统</a>
      </div>

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="font-size:14px; margin-left:20px;">
          <li class = "<%= 'active' if current_page?(root_path) %>"><%= link_to "主页", root_path %></li>
          <%- if !current_user.nil? %>
            <li class = "<%= 'active' if current_page?(items_path) %>">
              <%= link_to "数据库", items_path+"?o=n_asc" %>
            </li>
          <%- end%>
          <li class = "<%= 'active' if current_page?(support_path) %>">
            <%= link_to "技术支持", support_path %>
          </li>
          <li>
            <a href="http://coatings.imech.ac.cn/" target="_blank">
              <span class="glyphicon glyphicon-link" style="margin-right:5px"></span>
              镀层工艺力学与摩擦学课题组
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%- if !current_user.nil? %>
            <li>
              <a href="/signout" method="delete">
                <%= current_user.name%>
                <span class="glyphicon glyphicon-log-out" style="margin-right:5px"></span>
              </a>
            </li>
          <%- end%>
        </ul>
      </div><!--/.nav-collapse -->

    </div>
  </div>

  <%- if params["controller"] == "home" or params["controller"] == "sessions"%>
    <%= render "home/header"%>
      <%= yield %>
      <div class="footer">
        <p>&copy; 中国科学院力学研究所</p>
      </div>
  <%- else%>
    <div class="container" style="background-color:white; margin-top:50px;">
      <%= yield %>
      <div class="footer">
        <p>&copy; 中国科学院力学研究所</p>
      </div>
    </div>
  <%- end%>
      
</body>
</html>
